Go to terminal and select dropdown at powershell
Select Command Prompt

Type as:
pip install tensorflow

run python program as:
python training.py

then after run chatbot
python chatbot.py

